<footer class="py-3 bg-dark">
      <h4 *ngIf="isLoggedIn" class="text-center text-white">
          Welcome, {{username | titlecase}}!
      </h4>
      <div *ngIf="isLoggedIn" class="text-center text-white">
         <!--  <h3 sec:authentication="name"></h3> -->
         <button class="btn text-uppercase btn-light" (click)="logOut()">Logout</button>
      </div>
      <div class="m-0 text-center text-white">{{today | date:'dd/MMM/yyyy HH:mm'}}</div>
      <p class="m-0 text-center text-white">Copyright &copy; ALEKS</p>

</footer>
