<div class="row">
  <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
          </div>
          <div class="card-body">
              <h5 class="card-title text-center">Register as {{role | titlecase}}</h5>
              <form class="form-signin" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                  <div class="form-label-group">
                      <label class="text-danger" *ngIf="doesUsernameExist$ | async" >Username already exist. Please pick another!</label>
                      <input type="text"  id="inputUsername" class="form-control"  name="username" placeholder="Username"
                              ngModel #username="ngModel" name="username" minlength="6" maxlength="25" (keyup)="username.valid ? checkUsername($event.target.value) : null" required autofocus>
                      <p class="error-message" *ngIf="username.touched && username.invalid">Username must be between 6 and 25 characters!</p>
                      <label *ngIf="!username.touched || username.valid" for="inputUsername">Username</label>
                  </div>

                  <div class="form-label-group">
                      <label id="emailCheckHost" class="text-danger" *ngIf="(doesEmailExist$ | async) && email.valid">Email already exist. Please use another!</label>
                      <input type="email"  id="inputEmailHost" name="email" class="form-control" placeholder="Email address"
                             ngModel #email="ngModel"  pattern="[a-zA-Z0-9.-_]{3,}@[a-zA-Z0-9]+.[a-zA-Z]{2,4}"  required
                             (keyup)="email.valid ? checkEmail($event.target.value) : null">
                      <p class="error-message" *ngIf="email.touched && email.invalid" >Email is not valid!</p>
                      <label *ngIf="!email.touched || email.valid" for="inputEmailHost">Email address </label>
                  </div>
                  <div class="form-label-group" >
                      <input type="text"  id="inputFirstName" class="form-control" placeholder="First name"
                             ngModel #firstName="ngModel" name="firstName" minlength="3" required autofocus>
                      <p class="error-message" *ngIf="firstName.touched && firstName.invalid" >First Name schould be between 3 and 15 characters!</p>
                      <label *ngIf="!firstName.touched || firstName.valid"  for="inputFirstName">First Name </label>
                  </div>

                  <div class="form-label-group">
                      <input type="text" id="inputLastName" class="form-control" placeholder="Last name"
                             ngModel #lastName="ngModel" name="lastName" minlength="3"  required autofocus>
                      <p class="error-message" *ngIf="lastName.touched && lastName.invalid" >Last Name schould be at between 3 and 15 characters!</p>
                      <label *ngIf="!lastName.touched || lastName.valid" for="inputLastName">Last name</label>
                  </div>

                  <div class="form-label-group">
                      <input type="number"  id="inputAge" class="form-control"  placeholder="Age"
                             ngModel #age="ngModel" name="age" appMinAge required autofocus>
                      <p class="error-message" *ngIf="age.touched && age.invalid" >You should be at least 18 years and not too old!</p>
                      <label *ngIf="!age.touched || age.valid" for="inputAge">Age</label>
                  </div>

                  <hr>
                  <div ngModelGroup="passwords" #passwordGroup="ngModelGroup" passwordMatch>
                  <div class="form-label-group">
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                             ngModel #password="ngModel" name="password" minlength="6" required>
                             <p class="error-message" *ngIf="password.touched && password.invalid" >Password should be at least 6 characters!</p>
                      <label *ngIf="!password.touched || password.valid" for="inputPassword">Password</label>
                  </div>

                  <div class="form-label-group">
                      <input type="password" id="confirmPassword" class="form-control" placeholder="Password"
                             ngModel name="confirmPassword"  required>
                      <label for="confirmPassword">Confirm password</label>
                  </div>
                  <p class="error-message" *ngIf="passwordGroup.touched && passwordGroup.invalid">Passwords don't match!</p>
                </div>
                  <button  class="btn btn-lg btn-dark btn-block text-uppercase" type="submit"
                           [disabled]="registerForm.invalid || (doesEmailExist$ | async) || (doesUsernameExist$ | async)">Register</button>
                  <hr class="my-4">
                  <a class="d-block text-center mt-2 " routerLink='/user/login'>LogIn</a>
                </form>
          </div>
      </div>
  </div>
</div>
