<div class="container">
  <br>
  <h1 class="text-center">Your reservations</h1>
  <br>
  <hr>
  <div class="row mb-4">
      <div class="col-md-8">
          <h2>Here you can see all your not payed reservation!</h2>
      </div>
      <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" routerLink="/reservation/reservations/notPayed">VIEW NOT PAYED RESERVATION</a>
      </div>
  </div>
  <hr>
  <hr>
  <div class="row mb-4">
      <div class="col-md-8">
          <h2>Here you can see all your not payed reservation!</h2>
      </div>
      <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" routerLink="/reservation/reservations/payed">VIEW PAYED RESERVATION</a>
      </div>
  </div>
  <hr>

  <hr>
  <div class="row mb-4">
      <div class="col-md-8">
          <h2>Here you can see all your reservation!</h2>
      </div>
      <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" routerLink="/reservation/reservations/all">VIEW ALL RESERVATION</a>
      </div>
  </div>
  <hr>
  <hr>
  <div class="row mb-4">
      <div class="col-md-8">
          <h2>Here you can see all your future reservation!</h2>
      </div>
      <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" routerLink="/reservation/reservations/future">VIEW FUTURE RESERVATION</a>
      </div>
  </div>
  <hr>
  <hr>
  <div class="row mb-4">
      <div class="col-md-8">
          <h2>Here you can see all your past reservation!</h2>
      </div>
      <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block"routerLink="/reservation/reservations/past">VIEW PAST RESERVATION</a>
      </div>
  </div>
  <hr>
  <hr>
  <div class="row mb-4">
      <div class="col-md-8">
          <h2>Here you can see all your canceled reservation!</h2>
      </div>
      <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" routerLink="/reservation/reservations/canceled">VIEW CANCELED RESERVATION</a>
      </div>
  </div>
  <hr>
</div>
