<app-carousel-pause></app-carousel-pause>
<div class="container">
  <h1 class="my-4">
    Welcome to Local Bed and Breakfast. Here You can
    <a routerLink='/property/search'> search </a>for incredible locations all
    over Europe.
  </h1>
  <h2 class="my-4" *ngIf="!isLogged">
    In order to reserve You should <a routerLink='/user/login'>Log In.</a>
  </h2>
  <h2 class="my-4" *ngIf="!isLogged">
    Don't have an account
    <a routerLink='/user/register/guest'>Register here.</a>
  </h2>
  <h2 class="my-4" *ngIf="!isLogged">
    You want to offer Your location
    <a routerLink='/user/register/host'>Register here.</a>
  </h2>
  <h2 class="my-4">
    <a routerLink='/property/show/all'>See top locations.</a>
  </h2>
  <hr />
</div>
