
  <div class="col-sm-7 col-md-8 col-lg-6 mx-auto">
      <div class="card card-signin my-5">
          <div class="card-body">
              <legend>Make a reservation</legend>
              <form class="form-horizontal" #createForm="ngForm"  (ngSubmit)="onSubmit(createForm)">
                  <fieldset>
                      <div class="form-label-group">
                          <select class="browser-default custom-select" id="selectCountry" name="country"
                          ngModel  (change)="loadCities(createForm.value.country.name)" #optionCountry="ngModel" required>
                              <option disabled value="">Select Country</option>
                              <option *ngFor="let country of (countries$ | async)" [ngValue]="country"
                                      >{{country.name}}
                              </option>
                          </select>
                          <label class="col-md-7 control-label error-message" *ngIf="optionCountry.dirty && (cities$ | async)?.length === 0"
                 >No Cities.</label>
              <label *ngIf="!optionCountry.dirty || (cities$ | async)?.length > 0 || (cities$ | async)?.length !== 0" for="selectCountry1" class="col-md-7 control-label"
                >Select Country</label
              >
                      </div>
                      <div class="form-label-group">
                        <select class="browser-default custom-select" id="selectCity" name="city" ngModel required>
                            <option value="" disabled>Select City</option>
                             <option *ngFor="let city of cities$ | async" [ngValue]="city"
                                    >{{city.name}}
                            </option>
                        </select>
                        <label for="selectCity" class="col-md-5 control-label">Select City</label>
                    </div>
                      <div class="form-label-group">
                          <input type="number" id="inputOccupancy" class="form-control" name="occupancy"
                                ngModel #occupancy="ngModel" placeholder="Occupancy" required appPositiveNumber>
                                <p class="error-message" *ngIf="occupancy.invalid && occupancy.touched">Occupancy should be a positive number </p>
                          <label *ngIf="occupancy.valid || occupancy.untouched "  for="inputOccupancy">Occupancy</label>
                      </div>
                      <h5 class="card-title">Reservation dates:</h5>
                      <app-ngbd-datepicker-range (selectCheckIn)="selectCheckIn($event)" (selectCheckOut)=selectCheckOut($event)></app-ngbd-datepicker-range>

                      <hr>

                      <div class="form-group">
                          <div class="input-group date form_date col-md-5" id="startDate" data-date="">
                              <input class="form-control" size="16" type="text" name="startDate"
                                      readonly  [value]="checkIn | dateShow">
                            </div>
                          <label for="dtp_inputCheckIn" class="col-md-3 control-label">Check-In</label>
                          <input type="hidden" id="dtp_inputCheckIn" /><br/>
                      </div>
                      <div class="form-group">
                          <div class="input-group date form_date col-md-5" id="endDate" data-date="">
                              <input class="form-control" size="16" type="text" name="endDate" ngModel  readonly
                               [value]="checkOut | dateShow" >
                          </div>
                          <label for="dtp_inputCheckOut" class="col-md-3 control-label">Check-Out</label>
                      </div>
                      <button class="btn btn-lg btn-dark btn-block text-uppercase"
                              [disabled]="createForm.invalid ||  checkOut === undefined || checkOut === null">Search</button>
                  </fieldset>
              </form>
          </div>
      </div>
  </div>

