<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
          <div class="card-body">
              <h5 class="card-title text-center">Guest Log In</h5>
              <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
                <ng-container *ngIf="message">
                  <p class="error-message">{{message}}</p>
                </ng-container>
                  <div class="form-label-group" >
                      <input type="text" id="username" class="form-control" name="username" placeholder="Username"
                       ngModel #username="ngModel" required autofocus>
                       <p class="error-message" *ngIf="username.touched && username.invalid" >Username should not be empty!</p>
                      <label *ngIf="!username.touched || username.valid" for="username">Username </label>
                  </div>

                  <div class="form-label-group">
                      <input type="password"  id="password"  name="password" class="form-control" placeholder="Password"
                      ngModel #password="ngModel" required>
                      <p class="error-message" *ngIf="password.touched && password.invalid" >Password should not be empty!</p>
                      <label *ngIf="!username.touched || username.valid" for="password">Password </label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label  class="custom-control-label" for="customCheck1">Remember password</label>
                  </div>
                  <button class="btn btn-lg btn-dark btn-block text-uppercase"
                   [disabled]="loginForm.invalid">Log in</button>
                  <hr class="my-4">
                  <a class="d-block text-center mt-2" routerLink="/user/register/guest">Register as Guest</a>
                  <a class="d-block text-center mt-2" routerLink="/user/register/host">Register as Host</a>
              </form>
          </div>
      </div>
</div>

